* {
	margin: 0;
	padding: 0;
}

@fontface {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

div {
	display: block;
}

/* WTH is app??? */
.app {
	/*margin: 3em;*/
	margin: auto;
	/*-webkit-align-self: center;*/
	/*width:1024px;*/
	background-color: yellow;
	/*background-color: #FFFF00;*/
}

.search {
	border: 10px black;
	margin: 0 auto;
	padding: 20px;
	width: 1024px;
	background-color: blue;
}

input {
	display: inline;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	padding: 0 10px;
	height: 40px;
	width: 800px;
}

button {
	display: inline;
	border: none;
	background-image: -webkit-linear-gradient(white, grey);
	border-radius: 0px 5px 5px 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	/*width: 40px;*/
	height: 40px;
	padding: 0 10px;
}

.video-list {
	margin: 0 auto;
	background-color: grey;
	width: 1024px;
	padding: 20px;
}

.video-item {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	margin: 5px 0px;
	padding: 20px;
}

.video-item-thumb {
	display: inline-block;
	width: 35%;
	background-color: green;
}

.vid-item-text {
	display: inline-block;
	width: 65%;
	float: right;

}

iframe {
	width: 853px;
	height: 480px;
	border: 0;
/*	margin: 20px;
*/}

.modal-btn {
	display: block;
	float: right;
	background-image: -webkit-linear-gradient(FireBrick, DarkRed);
	width: 100%;
	text-align: right;
	border-radius: 0px;
}

.modal_after-open {
	width: 853px;
	height: 520px;
	position: absolute;
	margin: auto;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    /*border: 1px solid rgb(204, 204, 204);*/
    background: rgb(0, 0, 0);
    overflow: auto;
    /*border-radius: 4px;*/
    outline: none;
    /*padding: 20px;*/
}

.modalOverlay_after-open {
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
